@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html a {
  text-decoration: none;
}

main {
  margin: 70px 0 52px;
  min-height: calc(100vh - 122px);
}

hr {
  margin: 0 !important;
}

/* STYLE THE SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

/* STYLE THE SECTION */
section {
  padding: 30px 0;
}

.section-name {
  margin: 0 0 10px;
  font-weight: 1000;
  border-bottom: 5px solid #950740;
}

/* STYLE THE BUTTON */
html .btn {
  padding: 8px 13px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  background: #c3073f;
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}

html .btn:hover {
  background: #6f2232;
  color: #fff;
  font-weight: 1000;
}

/* STYLE THE CAROUSEL NAVIGATION */
.swiper-button-prev, .swiper-button-next {
  display: block;
  border-radius: 5px;
  height: auto !important;
  width: auto !important;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.6);
}

.swiper-button-prev {
  left: 0px !important;
}

.swiper-button-next {
  right: 0px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff;
}