.artwork-title {
    padding-top: 12px;
}

hr {
    margin: 0 0 12px !important;
}

.artwork-interaction-button {
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 12px 0 !important;
}

.artwork-interaction-button:hover {
    background: #fcc;
    color: #c3073f;
    font-weight: 1000;
}

.artwork-interaction-icon {
    font-size: 24px;
}

.member-avatar-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.member-avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.username {
    font-size: 20px;
    transition: all 0.5s ease;
}

.username:hover {
    font-weight: 1000;
    color: #c3073f;
}

.followers {
    text-overflow: ellipsis;
    width: fit-content;
}

#description p, .followers {
    margin: 0;
}

@media screen and (max-width: 576px) {
    #member-specs {
        text-align: center;
    }

    .followers {
        margin: auto;
    }

    .follow-btn {
        width: 100%;
    }
}
