.form-container {
    background: #fff;
    color:#000;
    min-width: 576px;
    max-width: 768px;
    padding: 20px;
    border-radius: 5px;
}

.form-info {
    font-weight: 1000;
}

form {
    margin: 20px 0;
}

.form-group {
    text-align: left;
    margin: 15px 0;
}

.form-btn {
    width: 100%;
}

.alternate-option {
    margin-top: 20px;
}

.alternate-option p {
    margin-bottom: 5px;
}

.alternate-option .btn {
    margin: 0;
    background: #3c6;
}

.alternate-option .btn:hover {
    background: #396;
}

@media screen and (max-width: 576px) {
    .form-container {
        min-width: 100%;
    }
}

/* FOR SIGN IN PAGE */
#forgot-pwd-link {
    display: inline-block;
    margin-top: 15px;
}