/* STYLE THE CAROUSEL NAVIGATION */
.swiper-button-prev, .swiper-button-next {
    display: block;
    border-radius: 5px;
    height: auto !important;
    width: auto !important;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .swiper-button-prev:hover, .swiper-button-next:hover {
    background: rgba(0, 0, 0, 0.6);
  }
  
  .swiper-button-prev {
    left: 0px !important;
  }
  
  .swiper-button-next {
    right: 0px !important;
  }
  
  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: #fff;
  }