.banner-content h1 {
    font-size: 100px;
    font-weight: bold;
}

.banner-content p {
    font-size: 25px;
}

.banner-content button {
    margin-top: 20px;
}

.banner-content button a {
    display: block;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.banner-content button:hover a {
    font-weight: bold;
}

@media screen and (max-width: 550px) {
    .banner-content h1 {
        font-size: 75px;
    }
}

@media screen and (max-width: 420px) {
    .banner-content h1 {
        font-size: 50px;
    }

    .banner-content p {
        font-size: 20px;
    }
}