.banner-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/banner.jpg) no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 122px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    color: #fff;
}

.banner-container h1 {
    font-size: 100px;
    font-weight: bold;
}

.banner-container p {
    font-size: 25px;
}

.banner-container button {
    margin-top: 20px;
    padding: 8px 13px;
    border: none;
    border-radius: 5px;
    background: #c3073f;
    transition: all 0.5s ease;
    cursor: pointer;
}

.banner-container button a {
    display: block;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.banner-container button:hover {
    background: #6f2232;
}

.banner-container button:hover a {
    font-weight: bold;
}

@media screen and (max-width: 550px) {
    .banner-container h1 {
        font-size: 75px;
    }
}

@media screen and (max-width: 420px) {
    .banner-container h1 {
        font-size: 50px;
    }

    .banner-container p {
        font-size: 20px;
    }
}

@media screen and (max-height: 450px) {
    .banner-container {
        height: 450px;
    }
}